@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudLink Href="https://github.com/crisomarjs" Target="_blank">
                <MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" Size="Size.Large" Color="Color.Tertiary"  />
            </MudLink>

        </div>

        <article class="content px-4">
            @* Required *@
            <MudThemeProvider />
            <MudPopoverProvider />

            @* Needed for dialogs *@
            <MudDialogProvider />

            @* Needed for snackbars *@
            <MudSnackbarProvider />
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
